:root {
    /*--- COLORS ---*/
    --spanish-gray: rgb(153, 153, 153);
    --sonic-silver: rgb(120, 120, 120);
    --eerie-black: rgb(33, 33, 33);
    --salmon-pink: rgb(255, 143, 156);
    --sandy-brown: rgb(246, 163, 85);
    --bittersweet: rgb(255, 102, 102);
    --ocean-green: rgb(70, 195, 137);
    --davys-gray: rgb(84, 84, 84);
    --cultured: rgb(237, 237, 237);
    --white: rgb(255, 255, 255);
    --onyx: rgb(69, 69, 69);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
   
html {
    font-size: 18px;
    overscroll-behavior: contain;
}

.hidden {
    display: none;
}

.header-top{
    display: block;
    border-bottom: 1px solid var(--cultured);
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.social-icons {
    width: 18px;
    height: 17px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}    

.icons a {
    padding: 5px;
    background-color: rgb(242, 242, 242);
    color: var(--sonic-silver);
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition:  background-color 0.4s ease,
    color 0.4s ease;
}

.icons a:hover {
    background-color: var(--salmon-pink);
    color: rgb(255, 255, 255);
}


.header-alert-news {
    font-size: 13.5px;
    text-transform: uppercase;
    color: var(--sonic-silver)
}
.header-alert-news b {
    font-weight: 500;
}

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top-actions select {
    border: none;
    padding: 5px 0;
    font: inherit;
    color: var(--sonic-silver);
    font-size: 14.6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease;
}

.header-top-actions select:hover { 
    color: var(--eerie-black); 
}

.navbar {
    padding: 25px 0;
    border-bottom: 1px solid var(--cultured);
}

.navbar .container {
    gap: 300px;
}

.header-search-container {
    flex-grow: 1;
    min-width: 300px;
    position: relative;
}

.navbar .search-field {
    width: 100%;
    font: inherit;
    font-size: 0.875rem;
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: 10px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: field;
}

.search-icon {
    width: 18px;
    height: 18px;
}

.search-btn {
    background-color: var(--white);
    position: absolute;
    top: 50%;   
    right: 2px;
    transform: translateY(-45%);
    color: var(--onyx);
    font-size: 18px;
    padding: 3.5px 15px;
    border-radius: 10px;
    transition: 0.4s ease;
    font: inherit;
    border: none;
    cursor: pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: field;
}

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.action-icon {
    width: 35px;
    height: 35px;
}
.header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: field;
    display: flex;
    align-items: center;
}

.header-user-actions .count {
    position: absolute;
    top: 3px;
    right: -1px;
    background-color: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}