:root {
    /*--- COLORS ---*/
    --spanish-gray: rgb(153, 153, 153);
    --sonic-silver: rgb(120, 120, 120);
    --eerie-black: rgb(33, 33, 33);
    --salmon-pink: rgb(255, 143, 156);
    --sandy-brown: rgb(246, 163, 85);
    --bittersweet: rgb(255, 102, 102);
    --ocean-green: rgb(70, 195, 137);
    --davys-gray: rgb(84, 84, 84);
    --cultured: rgb(237, 237, 237);
    --white: rgb(255, 255, 255);
    --onyx: rgb(69, 69, 69);
    
    /*--- TYPOGRAPHY ---*/

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*--- BORDER RADIUS ---*/

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /*--- TRANSITION ---*/

  --transition-timing: 0.4s ease;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
   
html {
    font-size: 18px;
    overscroll-behavior: contain;
}

.hidden {
    display: none;
}

/* --- HEADER --- */

.header-top{
    display: block;
    border-bottom: 1px solid var(--cultured);
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.social-icons {
    width: 18px;
    height: 17px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}    

.icons a {
    padding: 5px;
    background-color: rgb(242, 242, 242);
    color: var(--sonic-silver);
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition:  background-color 0.4s ease,
    color 0.4s ease;
}

.icons a:hover {
    background-color: var(--salmon-pink);
    color: rgb(255, 255, 255);
}


.header-alert-news {
    font-size: 13.5px;
    text-transform: uppercase;
    color: var(--sonic-silver)
}
.header-alert-news b {
    font-weight: 500;
}

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top-actions select {
    border: none;
    padding: 5px 0;
    font: inherit;
    color: var(--sonic-silver);
    font-size: 14.6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease;
}

.header-top-actions select:hover { 
    color: var(--eerie-black); 
}

/* --- NAVBAR --- */

.navbar {
    padding: 25px 0;
    border-bottom: 1px solid var(--cultured);
}

.navbar .container {
    gap: 300px;
}

.navbar-logo {
    text-decoration: none;     
}

.navbar-logo h1{
    font-size: 30px;
    color: var(--eerie-black);  
}

.header-search-container {
    flex-grow: 1;
    min-width: 300px;
    position: relative;
}

.navbar .search-field {
    width: 100%;
    font: inherit;
    font-size: 0.875rem;
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: 10px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: field;
}

.search-icon {
    width: 18px;
    height: 18px;
}

.search-btn {
    background-color: var(--white);
    position: absolute;
    top: 50%;   
    right: 2px;
    transform: translateY(-45%);
    color: var(--onyx);
    font-size: 18px;
    padding: 3.5px 15px;
    border-radius: 10px;
    transition: 0.4s ease;
    font: inherit;
    border: none;
    cursor: pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: field;
}

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.action-icon {
    width: 35px;
    height: 35px;
}
.header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: field;
    display: flex;
    align-items: center;
}

.header-user-actions .count {
    position: absolute;
    top: 3px;
    right: -1px;
    background-color: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

/* --- NAVIGATION MENU --- */

.desktop-navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    display: list-item;
    list-style: none;
}
li a {
    text-decoration: none;
}
.desktop-menu-category-list {
    gap: 45px;
}

.desktop-menu-category-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-end: 40px;
}

.desktop-menu-category-list .menu-category:not(:nth-child(2)) { 
    position: relative;
}

.desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: var(--onyx);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    transition: color 0.4s ease;
  }

.desktop-menu-category-list .menu-category > .menu-title:hover {
     color: var(--salmon-pink); 
}

.desktop-menu-category-list .menu-category > .menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--salmon-pink);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.4s ease;
}

.desktop-menu-category-list .menu-category > .menu-title:hover::after { 
    transform: scaleX(1); 
}

.dropdown-panel {
    position: absolute;
    top: 150%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.4s ease;
    z-index: 5;
}

.desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.dropdown-panel-list .menu-title a {
    color: var(--onyx);
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 10px;
}

.panel-list-item a {
    color: var(--sonic-silver);
    font-size: 0.875rem;
    text-transform: capitalize;
    transition: 0.4s ease;
}

.panel-list-item a:hover { 
    color: var(--salmon-pink); 
}

.panel-list-item:not(:last-child) a { 
    padding: 4px 0; 
}

.panel-list-item:last-child { 
    margin-top: 20px; 
}

.panel-list-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.dropdown-list {
    position: absolute;
    top: 150%;
    left: -10px;
    width: 200px;
    background: var(--white);
    padding: 20px 0;
    border-radius: 10px;
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.4s ease;
    z-index: 5;
}

.desktop-menu-category-list .menu-category:hover > .dropdown-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.dropdown-list .dropdown-item a {
    color: var(--sonic-silver);
    font-size: 0.875rem;
    text-transform: capitalize;
    padding: 4px 20px;
    transition: 0.4s ease;
}

.dropdown-list .dropdown-item a:hover { 
    color: var(--salmon-pink); 
}

/* --- BANNER --- */


.slider-item {
    display: flex;
    align-items: center;
}

.banner-img  {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
    border-radius: 10px;
}

/*--- CATEGORY ---*/

.category-item { 
    min-width: calc(33.33% - 20px); 
}

.category-img-box { 
    padding: 10px; 
}

/*--- SERVICES ---*/
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
}
.service-items {
    display: flex;
    align-items: center;
    border: 1px solid var(--cultured);
    border-radius: 10px;
    padding: 15px;
    gap: 30px;
    margin: 0 30px;
}

.service-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    color: var(--sonic-silver);
    transition: color 0.4 ease;
}

.service-icon:hover {
    color: var(--eerie-black);
}

.service-content {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
}

.service-content p {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
    font-weight: normal;
}